:root{
    --JetBlack: #353535;
    --MingGreen: #3c6e71;
    --white: #ffffff;
    --Gray: #d9d9d9;
    --Blue: #284b63;
}

html, body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', 'Roboto', 'Ubuntu', 'Areal', sans-serif;
    line-height: 1.6;
    max-width: 100vw;
}



.navigasjon{
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: var(--Blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
  
.navigasjon a {
    position: relative;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
    margin-right: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: width ease-in-out 300ms;
}

.navigasjon a:first-child{
    margin-right: auto;
    margin-left: 5rem;
    width: 15%;
}

.navigasjon a::after{
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--MingGreen);
    transition: width ease-in-out 300ms;
}

.navigasjon a:not(:first-child):hover::after{
    width: 100%;
}


.logo_img{
    width: 100%;
    height: 100%;
}

.top_background{
    background-color: var(--white);
    height: 100vh;
    z-index: -1;
    position: relative;
    
}

.intro{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_container{
    width: 35%;
}

.app_picture{
    width: 80%;
}

.text_container{
    font-size: 30px;
    width: 40%;
}

.challange{
    
    background-color: var(--Gray);
    position: relative;
    width: 100%;
}


/*scrollbar*/
::-webkit-scrollbar{
    width: 17px;
}

::-webkit-scrollbar-track{
    background-color: var(--JetBlack);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        var(--Blue),
        var(--MingGreen)
    );
    border-radius: 5px;
}

/*tablet*/
@media only screen and (max-width: 768px) {    
    .navigasjon {
        flex-direction: column;
        position: static;
    }

    .navigasjon a{
        margin: auto;
        padding: 1rem;
    }

    .navigasjon a:first-child{
        margin-left: auto;
        width: 30%;
    }

    .intro{
        flex-direction: column;
    }

    .text_container, .image_container{
        width: 70%;
    }

   .top_background{
       height: calc(100vh - 10px);
   }
}

/*mobile*/
@media only screen and (max-width: 425px) {
    .text_container{
        font-size: 20px;
    }
}