:root{
    --JetBlack: #353535;
    --MingGreen: #3c6e71;
    --white: #ffffff;
    --Gray: #d9d9d9;
    --Blue: #284b63;
}

html, body{
    margin: 0;
    padding:0;
    background-color: var(--white);
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    height: 200vw;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
}

.navigasjon{
    overflow: hidden;
    background-color: var(--Blue);
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
  
.navigasjon a {
    position: relative;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
    margin-right: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease-out 300ms;
}

.navigasjon a:first-child{
    margin-right: auto;
    margin-left: 5rem;
    width: 15%;
}

.navigasjon a::after{
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--MingGreen);
    transition: all ease-out 300ms;
}

.navigasjon a:not(:first-child):hover::after{
    width: 100%;
}


.logo_img{
    width:100%;
    height: 100%
}

@media only screen and (max-width: 768px) {
    .navigasjon {
        flex-direction: column;
    }

    .navigasjon a{
        margin: auto;
        padding: 1rem;
        
    }

    .navigasjon a:first-child{
        margin-left: auto;
        width: 30%;
    }
}