html, body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', 'Roboto', 'Ubuntu', 'Areal', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: #d9d9d9;
}

.navigasjon{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    overflow: hidden;
    background-color: #284b63;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}
  
.navigasjon a {
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
    margin-right: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigasjon a:first-child{
    margin-right: auto;
    margin-left: 5rem;
    width: 15%;
}

.active{
    border-bottom: solid #ffffff 0.3rem;
}

.navigasjon a::after{
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    transition: width ease-in-out 300ms;
}

.navigasjon a:not(:first-child):not(.active):hover::after{
    width: 100%;
}

.logo_img{
    width: 100%;
}

.top_background{
    background-color: #ffffff;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 32% 100%, 0 70%);
}

.intro{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_container{
    width: 35%;
    padding-top: 110px;
}

.app_picture{
    width: 100%;
}

.intro_text{
    font-size: 25px;
    width: 45%;
    padding-left: 50px;
}

.easy{
    font-weight: bold;
}

.wrapper{
    background-color: #d9d9d9;
    padding: 20px 0 20px 0;
}

.content{
    border: outset #3c6e71 8px;
    border-radius: 30px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
}

.content>h1{
    font-size: 35px;
}

.text_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container>p{
    text-align: left;
    padding: 0 20px;
    width: 60%;
}

.text_container>a{
    width: 35%;
}

.content-img{
    width: 100%;
}

.btnRead-more{
    background-color: #353535;
    color: #ffffff;
    height: 45px;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    width: min-content;
}

.btnRead-more:hover{
    background-color: #3c6e71;
}

/*footer*/
footer{
    background-color: #284b63;
    height: 100px;
    bottom:0;
    left: 0;
    width: 100%;
    padding-top: 15px;
}

footer>a{
    text-decoration: none;
}

.btnSources{
    background-color: #ffffff;
    border: outset #3c6e71 7px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 10%;
    margin: auto;  
    color: black;
}

.btnSources:hover{
    background-color: #3c6e71;
    color: #ffffff;
    cursor: pointer;
}

.btnSources>a:hover{
    color: #ffffff;
}

/*challenge og solution side*/

.intro-image-cs{
    width: 40%;
    border-radius: 10px;
}

.intro-text{
    border:solid;
    text-align: center;
}

.challange-solution{
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    padding: 50px 0;
}

.challange-solution>div{
    width: 40%;
    text-align: center;
    border: outset #3c6e71 7px;
    border-radius: 30px;
    background-color: #ffffff;
    height: fit-content;
    padding: 20px;
}

.images{
    width: 35%;
    border-radius: 10px;
 }


/*scrollbar*/
::-webkit-scrollbar{
    width: 17px;
}

::-webkit-scrollbar-track{
    background-color: #353535;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        #284b63,
        #3c6e71
    );
    border-radius: 5px;
}

/*sources*/
.h1-sources{
    margin-top: 130px;
    text-align: center;
    font-size: 40px;
}

ul{
    list-style: none;
    background-color: #284b63;
    width: 13%;
    float: left;
    margin: 0;
    padding: 0;
    border: outset 5px #284b63 ;
    border-radius: 10px;
    position: absolute;
    margin-left: 20px;
    border: outset #3c6e71 10px;
}

li a{
    display: block;
    width: 90%;
    height: min-content;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 5px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

li a:hover{
    background-color:  #3c6e71;
    border: inset 3px #353535;
    border-radius: 10px;
}

.source-list{
    border: outset #3c6e71 10px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #ffffff;
}

/*to top button*/
.btn-top{
    content: url("img/arrow.png");
    position: fixed;
    width: 5%;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    border-radius: 100%;
}

.btn-top:hover{
    content: url("img/arrow1.png");
}

/* app page */

.app_bakgrunn{
    background-color: #ffffff;
}

.app_top_boks{   
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.info_app{
    border: outset #3c6e71 10px;
    border-radius: 15px;
    width: 40%;
    height: min-content;
    margin: auto 0;
    padding: 10px;
    font-size: 18px;
}

.mobilbruker_boks{ 
    width: 40%;
    text-align: center;
    margin: auto 0;
}

.mobilbruker_bilde{
    width:100%;
    height: 100%;
    border-radius: 15px;
}

.caption {
    display: block;
    font-size: 15px;
}

.theapp_title{
    font-size: 1.6em;
    padding-top: 100px;
    background-color: #ffffff;
    text-align: center;
}

.login_picture{
    width: 20%;
}

.myprofile{
    width: 90%;
    align-content: space-around;
}

.app-image-container{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;   
}

.tekstboks_app{
    border: outset #3c6e71 10px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    width: 50%;
}

.title_app{
    font-size: 2em;
}

/* Sources images */

.img_sources{
    width: 30%;
    text-align: center;
}

.source-list-img{
    border: outset #3c6e71 10px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* group members */

.group_sources{
    width: 25%;
}

.source-list-group{
    border: outset #3c6e71 10px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*small laptop*/
@media only screen and (max-width: 1024px) {
    .navigasjon a:first-child{
        display: none;
    }

    .navigasjon a{
        margin: auto;
    }

    .top_background{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 0 76%);
    }

    .text_container{
        flex-direction: column-reverse;
    }
    
    .text_container>p{
        width: 90%;
    }
    
    .text_container>a{
        width: 80%;
    }
    
    .challange-solution{
        border:solid;
        width: 80%;
        flex-direction: column-reverse;
        margin: 20px auto;
        border: outset #3c6e71 7px;
        border-radius: 30px;
        background-color: #ffffff;
        height: min-content;
   }
   
   .challange-solution>div{
       border: none;
       width:90%;
    }

    .challange-solution>img{
        width: 70%;
    }

    .responsive{
       flex-direction: column;       
    }
}

/*tablet*/
@media only screen and (max-width: 768px) {    
    .navigasjon {
        flex-direction: column;
        position: static;
        height: auto;
    }

    .navigasjon a{
        margin: auto;
        padding: 1rem;
        font-size: 23px;
    }

    .navigasjon a:first-child{
        display: block;
        margin-left: auto;
        width: 30%;
        min-width: 200px;
    }
    
    .top_background{
        height: min-content;
        clip-path: none;
    }

    .intro{  
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro_text{
        width: 80%;
    }

    .image_container{
        width: 70%;
        padding-top: 0;
        margin: auto;
    }

    .intro-image{
        width: 70%;
        padding-bottom: 15px;
    }

   .btnSources{
       width: min-content;
   }

   .btn-top{
       display: none;
   }

   .h1-sources{
    margin-top: auto;
    }
}

/*mobile*/
@media only screen and (max-width: 425px) {
    .text_container{
        font-size: 20px;
    }
}
