html, body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', 'Roboto', 'Ubuntu', 'Areal', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.navigasjon{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    overflow: hidden;
    background-color: #284b63;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.navigasjon a {
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
    margin-right: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigasjon a:first-child{
    margin-right: auto;
    margin-left: 5rem;
    width: 15%;
}

.active{
    border-bottom: solid #ffffff 0.3rem;
}

.navigasjon a::after{
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    transition: width ease-in-out 300ms;
}

.navigasjon a:not(:first-child):not(.active):hover::after{
    width: 100%;
}

.logo_img{
    width: 100%;
}

.top_background{
    background-color: #ffffff;
    height: 100vh;
    z-index: -1;
    position: relative;
}

.intro{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_container{
    width: 35%;
}

.app_picture{
    width: 90%;
   padding-top: 100px;
}

.intro_text{
    font-size: 25px;
    width: 45%;
    padding-left: 50px;
}

.easy{
    font-weight: bold;
}

.wrapper{
    background-color: #d9d9d9;
    padding: 20px 0 20px 0;
}

.content{
    border: outset #3c6e71 8px;
    border-radius: 30px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
}

.content>h1{
    font-size: 35px;
}

.text_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text_container>p{
    text-align: left;
    padding: 0 20px;
    width: 150%;
}

.content-img{
    width: 80%;
}

.btnRead-more{
    background-color: #353535;
    color: #ffffff;
    height: 45px;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}

.btnRead-more:hover{
    background-color: #3c6e71;
}

/*footer*/
footer{
    background-color: #284b63;
    height: 100px;
    bottom:0;
    left: 0;
    width: 100%;
    padding-top: 15px;
}

footer>a{
    text-decoration: none;
}

.btnSources{
    background-color: #ffffff;
    border: outset #3c6e71 7px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 10%;
    margin: auto;  
    color: black;
}

.btnSources:hover{
    background-color: #3c6e71;
    color: #ffffff;
    cursor: pointer;
}

.btnSources>a:hover{
    color: #ffffff;
}

/*scrollbar*/
::-webkit-scrollbar{
    width: 17px;
}

::-webkit-scrollbar-track{
    background-color: #353535;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        #284b63,
        #3c6e71
    );
    border-radius: 5px;
}

/*sources*/
.h1-sources{
    margin-top: 130px;
}

.source-list{
    border: outset #3c6e71 10px;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
}

/*to top button*/
.btn-top{
    position: fixed;
    width: 50px;
    right: 25px;
    bottom: 25px;
    z-index: 10;
}

/*tablet*/
@media only screen and (max-width: 768px) {    
    .navigasjon {
        flex-direction: column;
        position: static;
        height: auto;
    }

    .navigasjon a{
        margin: auto;
        padding: 1rem;
    }

    .navigasjon a:first-child{
        margin-left: auto;
        width: 30%;
    }

    .intro{
        margin-top: 180px;
        flex-direction: column;
    }

    .image_container{
        width: 70%;
    }

   .top_background{
       height: calc(100vh - 10px);
   }

   .text_container{
       flex-direction: column;
   }

   .text_container>p{
       width: 90%;
   }

   .btnSources{
       width: min-content;
   }

   .btn-top{
       display: none;
   }

   .h1-sources{
    margin-top: auto;
    }
}

/*mobile*/
@media only screen and (max-width: 425px) {
    .text_container{
        font-size: 20px;
    }
}

/* app page */

.theapp_title{
   
   font-size: 2em;
    padding-top:100px;
     background-color: #ffffff;
    height: 140px;
    z-index: -1;
    position: relative;
    text-align: center;
}

.login_picture{
   margin-top: 100px;
    padding-left: 10px;
    width: 100%;
}


.app_background{
    background-color: #ffffff;
    height: 720px;
    z-index: -1;
    position: relative;
    
    
}

.intro_app{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.image_container_app{

    width: 35%;
    
}

.intro_text_app{
    font-size: 1.2em;
    width: 55%;
    margin-top: 10vh;
    padding: inherit;
}

.tekstboks_app{
    width: 100%;
    height: auto;
    background: #D9D9D9;
    border: solid #D9D9D9 10px;
    border-radius: 20px;
    margin-left: 60px;
}

.title_app{
    font-size: 2em;
     margin-left: 60px;
}
